
.card{
  background-color: rgb(199, 183, 226);
}

.produit{
  border-radius: 50%;
  padding: 5px;
  transform: translate(670px,125px);
}
 .fontarriere {
  width: 1800px;
  height: 1550px;
  background-color:rgb(103, 23, 240) ;
 }
